{% extends 'accounts/main.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    
  </head>
  <body>
    <h1>SEARCH</h1>
    <form method="get">
      <input class="searchBar" value="{{myFilter.form}}" />
      <button class="searchButton" type="submit">Search</button>
    </form>
    <table>
      <tr>
        <th>Tenant</th>
				<th>Category</th>
				<th>Date Audited</th>
				<th>Status</th>
				<th>Update</th>
      </tr>
      {% for audit in audits %}
      <tr>
          <td>{{ audit.tenant }}</td>
          <td>{{ audit.tenant.category }}</td>
          <td>{{ audit.date_audited }}</td>
          <td>{{ audit.status }}</td>
          {% if audit.status in "Pending" %}
          <td><a class="btn btn-sm btn-info" href="{% url 'audits_search' %}">Update</a> </td>


          {% endif %}
      </tr>
  {% endfor %}
    </table>

  </body>
</html>
{% endblock %}