html {
  display: inline;
}
body {
  margin: 15px;
  font-family: "Poppins", sans-serif;
  color: #4460a9;
  font-weight: 350;
  font-size: 3.5vw;
}

table {
  border-collapse: collapse;
  display: inline-block;
  height: 300px;
  overflow-y: auto;
  border-radius: 8px 8px 8px 8px;
}
table td,
table th {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: fit-content;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #f0dfd6;
  font-weight: 550;
}

.tableContainer {
  height: 350px;
}

h1 {
  margin-bottom: 0%;
  font-size: 33px;
  display: block;
  float: inline-start;
}

h4 {
  margin-top: 0%;
  color: #ff7c5e;
  display: inline-block;
  float: initial;
}
p.viewDetails {
  display: block;
  float: right;
}
